

<div [formGroup]="form" class="form" [ngClass]="{'setError': form.invalid}">
  <lib-form-input formControlName="inp1"></lib-form-input>
  <lib-form-input formControlName="inp2"></lib-form-input>
  <lib-form-input formControlName="inp3"></lib-form-input>
</div>


<pre style="white-space: pre-line">
  {{form.value | json}}
</pre>

Form Valid : {{form.valid}}


<button (click)="toggleFormValid(form.valid)">Set Form {{form.valid ? 'InValid' : 'Valid'}}</button>


<hr>
<div>
  <button (click)="inputInvalid(form.controls['inp1'].valid)">Set Input 1 {{form.controls['inp1'].valid ? 'InValid' : 'Valid'}}</button>
</div>
